<ion-header class="ion-no-border">
  <ion-toolbar [style.--background]="'rgba(56, 128, 255, ' + 0 + ')'">
    <div slot="start" style="width: 48px;"></div> <ion-title [style.opacity]="toolbarOpacity">Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div slot="fixed" class="hero-bg" [style.height.px]="dynamicHeroHeight">
    <div class="logo-container" [style.width]="logoWidth">
      <!-- <img src="assets/e-flight_logo.svg" /> -->
      <svg class="logo">
        <use href="assets/e-flight_logo.svg#e-flight_logo"></use>
      </svg>
    </div>
  </div>

  <div class="scroll-wrapper">
    <div class="hero-spacer"></div>
    <div class="main-card-content">
      <ion-list lines="none">
        <ion-item *ngFor="let i of [1,2,3,4]">
          <ion-label>Item {{i}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>