// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ruda';
    src: url('../assets/fonts/Ruda.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}