<ion-header [translucent]="true" style="min-height: 30vh; background-color: #1351AA; padding-left: 35px; padding-right: 35px;">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div style="width: 70vw">
    <div class="logo-title">
      <img src="assets/e-flight_logo.svg" alt="Logo" class="logo" />
      <div style="display: inline-block;">
        <span class="title">SkyBuddie.</span>
        <span class="subtitle">powered by E-Flight Teuge</span>
      </div>
    </div>
    <div class="ion-margin-bottom">
      <p><b>Welcome aboard!</b></p>
      <p>We're your trusty Sky Buddie, thinking along with you every step of the way. From planning your route to discovering the most fun destinations. We've got your back so you can focus on flying while we handle the rest.</p>
    </div>
    <div class="search-bar ion-margin-bottom">
      <ion-searchbar placeholder="SkyBuddie. search"></ion-searchbar>
    </div>
  </div>
</ion-header>
<ion-content [fullscreen]="true" style="background-color: #EFF7FF;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="card map">
          <div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" style="height: 40vh">
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="card recent-reviews">
          <div class="card-header">
            <span><i class="fa-solid fa-star star-yellow"></i></span>
            <span>Recent reviews</span>
          </div>
          <div class="reviews">
            <div class="review" *ngFor="let review of reviews">
              <div class="review-header">
                <div>
                  <div>{{review.userFullName}}</div>
                  <div>{{review.location}}</div>
                </div>
                <div>
                  <i class="fa-star" [class]="review.rating > 0 ? 'fa-solid star-yellow' : 'fa-regular'"></i>
                  <i class="fa-star" [class]="review.rating > 1 ? 'fa-solid star-yellow' : 'fa-regular'"></i>
                  <i class="fa-star" [class]="review.rating > 2 ? 'fa-solid star-yellow' : 'fa-regular'"></i>
                  <i class="fa-star" [class]="review.rating > 3 ? 'fa-solid star-yellow' : 'fa-regular'"></i>
                  <i class="fa-star" [class]="review.rating > 4 ? 'fa-solid star-yellow' : 'fa-regular'"></i>
                  <!-- <ion-icon [name]="review.rating > 0 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="review.rating > 1 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="review.rating > 2 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="review.rating > 3 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="review.rating > 4 ? 'star' : 'star-outline'"></ion-icon> -->
                </div>
              </div>
              <div class="review-description">{{review.description}}</div>
              <div class="review-date">{{review.date}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="card footer"></div>
    </ion-row>
  </ion-grid>
</ion-content>