<ion-content>
  <div class="header" style="min-height: 30vh; background-color: #1351AA; padding-left: 35px; padding-right: 35px; padding-bottom: 35px;">
    <div style="max-width: 80rem; margin: auto; padding: 0 12px;">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      <div style="width: 70%">
        <div class="logo-title">
          <img src="assets/e-flight_logo.svg" alt="Logo" class="logo" />
          <div style="display: inline-block;">
            <span class="title fly-in">SkyBuddie.</span>
            <span class="subtitle appear">powered by E-Flight Teuge</span>
          </div>
        </div>
        <div class="ion-margin-bottom" style="color: #f3f8ff;">
          <p><b>Welcome aboard!</b></p>
          <p>We're your trusty Sky Buddie, thinking along with you every step of the way. From planning your route to discovering the most fun destinations. We've got your back so you can focus on flying while we handle the rest.</p>
        </div>
      </div>
      <ion-grid class="ion-margin-bottom grid-no-padding">
        <ion-row class="nav-buttons">
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button" [routerLink]="['/profile']">
            <i class="fa-solid fa-user-group fa-2x"></i>
            <div>Profile</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-heart fa-2x"></i>
            <div>Favorites</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-user-group fa-2x"></i>
            <div>Community</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-plane fa-2x"></i>
            <div>Airfields</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-utensils fa-2x"></i>
            <div>Food & Drinks</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-car-side fa-2x"></i>
            <div>Transport</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-compass fa-2x"></i>
            <div>Activities</div>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="2" size-lg="1" class="nav-button">
            <i class="fa-solid fa-circle-question fa-2x"></i>
            <div>FAQ</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div style="background-color: #f5f5f5;background-image: linear-gradient(to right bottom, oklch(0.97 0.014 254.604) 0%, oklch(0.977 0.013 236.62) 50%, oklch(0.962 0.018 272.314) 100%);padding-left: 35px; padding-right: 35px; padding-bottom: 35px;">
    <ion-grid style="max-width: 80rem; margin: auto; --ion-grid-padding:0px; --ion-grid-column-padding: 12px; padding-top: 24px;">
      <ion-row>
        <ion-col size="12" size-lg="6">
          <div class="card map">
            <div #mapContainer style="height: 100%;">
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-lg="6">
          <div class="card recent-reviews">
            <div class="card-header">
              <span><i class="fa-solid fa-star star-yellow" style="margin-right: 10px;"></i></span>
              <span>Recent reviews</span>
            </div>
            <div class="reviews">
              <div class="review" *ngFor="let review of reviews">
                <div class="review-header">
                  <div>
                    <div class="user">{{review.userFullName}}</div>
                    <div class="location">{{review.location}}</div>
                  </div>
                  <div>
                    <i class="fa-star" [class]="review.rating > 0 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                    <i class="fa-star" [class]="review.rating > 1 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                    <i class="fa-star" [class]="review.rating > 2 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                    <i class="fa-star" [class]="review.rating > 3 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                    <i class="fa-star" [class]="review.rating > 4 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                  </div>
                </div>
                <div class="review-description">{{review.description}}</div>
                <div class="review-date" [title]="review.date.toDateString()">{{review.date | relativeDate}}</div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="card">
            <div class="card-header">
              <span><i class="fa-solid fa-star star-yellow" style="margin-right: 10px;"></i></span>
              <span>Popular destinations</span>
            </div>
            <ion-grid class="grid-no-padding">
              <ion-row class="destinations">
                <ion-col size-md="4" *ngFor="let destination of destinations; index as i">
                  <div class="destination">
                    <img class="image" [src]="'assets/images/airfields/'+destination.code+'.png'" />
                    <div class="rank">#{{i+1}}</div>
                    <div class="info">
                      <div class="code">{{destination.code}}</div>
                      <div class="name">{{destination.name}}</div>
                      <div class="footer">
                        <div class="rating">
                          <i class="fa-star" [class]="destination.averageRating > 0 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                          <i class="fa-star" [class]="destination.averageRating > 1 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                          <i class="fa-star" [class]="destination.averageRating > 2 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                          <i class="fa-star" [class]="destination.averageRating > 3 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                          <i class="fa-star" [class]="destination.averageRating > 4 ? 'fa-solid star-yellow' : 'fa-regular star-outline'"></i>
                        </div>
                        <div class="location"><i class="fa-solid fa-location-dot"></i>{{destination.location}}</div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="card blue">
            <div class="card-header">
              <span><i class="fa-solid fa-award" style="margin-right: 10px;"></i></span>
              <span>Airfield highlights</span>
            </div>
            <div class="highlights">
              <div class="highlight">
                <div class="info">
                  <div class="icon">{{highlight.icon}}</div>
                  <div>
                    <div class="tag">{{highlight.tag}}</div>
                    <div class="code">{{highlight.code}}</div>
                    <div class="name">{{highlight.name}}</div>
                    <div class="description">{{highlight.description}}</div>
                  </div>
                </div>
                <div>
                  <img class="image" [src]="'assets/images/'+highlight.imageName" />
                </div>
                <div class="location"><i class="fa-solid fa-location-dot"></i>{{highlight.location}}</div>
              </div>
              <div class="pager">

              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="card blue">
            <div class="card-header">
              <span><i class="fa-solid fa-sun" style="margin-right: 10px;"></i></span>
              <span>Perfect for Spring</span>
            </div>
            <div style="color: #bedbff">Nature comes alive - perfect for outdoor adventures</div>
            <ion-grid class="grid-no-padding" style="margin-top: 10px;">
              <ion-row class="suggestions">
                <ion-col size-md="4" *ngFor="let suggestion of destinations; index as i">
                  <div class="suggestion">
                    <img class="image" [src]="'assets/images/airfields/'+suggestion.code+'.png'" />
                    <div class="info">
                      <div class="code">{{suggestion.code}}</div>
                      <div class="name">{{suggestion.name}}</div>
                      <div class="location"><i class="fa-solid fa-location-dot"></i>{{suggestion.location}}</div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="activities">
              <div style="font-weight: bold;">Popular spring activities</div>
              <ion-grid class="grid-no-padding">
                <ion-row>
                  <ion-col class="activity" *ngFor="let activity of activities"> <i class="fa-solid fa-star star-yellow" style="margin-right: 5px;"></i><span>{{activity}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="card footer">
            <div class="card-header" style="justify-content: center;">Why SkyBuddie?</div>
            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="4" style="    align-items: center;    display: flex;    flex-direction: column;">
                  <div style="display: flex; justify-content: center; align-items: center; border-radius: 100%;color: #155dfc; background-color:#dbeafe; height: 64px;width: 64px; position: relative;    margin-bottom: 14px;">
                    <i class="fa-solid fa-user-group fa-2x" style="font-size: 24px;"></i>
                  </div>
                  <div style="font-weight: bold;    margin-bottom: 14px;">Community</div>
                  <div style="text-align: center;font-weight: 300;    font-size: 0.9em;">Reviews from other pilots creating creative ideas for future destinations.</div>
                </ion-col>
                <ion-col size="12" size-md="4" style="    align-items: center;    display: flex;    flex-direction: column;">
                  <div style="display: flex; justify-content: center; align-items: center; border-radius: 100%; color:#009966; background-color: #d0fae5; height: 64px;width: 64px; position: relative;    margin-bottom: 14px;">
                    <i class="fa-solid fa-bolt-lightning fa-2x" style="font-size: 24px;"></i>
                  </div>
                  <div style="font-weight: bold;    margin-bottom: 14px;">Fast & Efficient</div>
                  <div style="text-align: center;font-weight: 300;    font-size: 0.9em;">Plan your complete VFR route in minutes with our intuitive interface.</div>
                </ion-col>
                <ion-col size="12" size-md="4" style="    align-items: center;    display: flex;    flex-direction: column;">
                  <div style="display: flex; justify-content: center; align-items: center; border-radius: 100%; color: #9810fa;background-color: #f3e8ff; height: 64px;width: 64px; position: relative;    margin-bottom: 14px;">
                    <i class="fa-solid fa-lightbulb fa-2x" style="font-size: 24px;"></i>
                  </div>
                  <div style="font-weight: bold;    margin-bottom: 14px;">Smart Planning</div>
                  <div style="text-align: center;font-weight: 300;    font-size: 0.9em;">Most advanced planning tool for VFR-flights. Including all available information.</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>